.card {
    min-height: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5rem 55% calc(45% - 2rem);
    align-items: center;
    margin: .5rem 0;
}

.namesTruncated {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.allNames {
    display: inline-block;
    cursor: default;
}

.link {
    justify-self: end;
    margin-right: .5rem;
    float: right;
}

