.card {
    min-height: 2rem;
    max-width: 20rem;
    margin: .5rem 0;
    padding: .5rem;
}

.namesTruncated {
    max-width: 15rem;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.allNames {
    display: inline-block;
    max-width: 15rem;
}

.link {
    float: right;
}

