.card {
  min-height: 2rem;
  width: 100%;
  display: grid;
  grid-template-areas:
    "picture info link"
    "picture info link";
  grid-template-columns: 2.5rem 55% calc(45% - 2rem);
  grid-template-rows: 1rem;
  align-items: center;
  margin: 0.5rem 0;
}

.imageContainer {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.unread {
  grid-row: 1;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: bold;
}

.namesTruncated {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  grid-row: 2;
}

.allNames {
  cursor: default;
  grid-row: 2;
}

.link {
  justify-self: end;
  margin-right: 0.5rem;
  grid-column: 3;
  grid-row: 1 / span 2;
  float: right;
}
