/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Titillium+Web:wght@200&display=swap'); */

@font-face {
    font-family: Jaldi;
    src: url("./assets/Jaldi-Regular.ttf")
}

@font-face{
    font-family: Lato;
    src: url("./assets/Lato-Light.ttf")
}

:root {
    --background-color: #282828;
    --input-color: #605D5D;
    --border-color: #999999;
    --blue: #027A94;
    --purple: #996FA4;
    --red: #995046;
    --green: #029407;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: Lato;
    height: 100%;
}

#root {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=text], input[type=password] {
    all: unset;
    background-color: var(--input-color);
    border: none;
    border-radius: 5px;
    color: white;
    height: 1.6rem;
    text-indent: 5px;
}
input[type=text]:disabled, input[type=password]:disabled {
    all: unset;
    background-color: var(--border-color);
    border: none;
    border-radius: 5px;
    color: lightgray;
    height: 1.6rem;
    text-indent: 5px;
}

::placeholder {
    color: #D2D2D2;
}

input[type=submit] {
    color: white;
    background-color: var(--blue);
    font-family: Lato;
    border: none;
    font-size: 1rem;
    border-radius: .5rem;
    padding-bottom: .2rem;
}

button {
    color: white;
    background-color: var(--blue);
    font-family: Lato;
    border: none;
    font-size: 1rem;
    border-radius: .5rem;
    padding-bottom: .2rem;
}

.underlined-link {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.center-text{
    text-align: center;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
}
  
