.container {
  overflow: auto;
  padding: 5px;
}

.editor {
  height: 50%;
  width: 100vw;
  background-color: hsl(0, 0%, 30%);
}

.container a {
  text-decoration: underline;
  color: hsl(200, 100%, 80%);
}
