.container {
  overflow: auto;
  padding: 5px;
  height: 100%;
}

.container textarea {
  font-family: Lato;
  width: 100%;
  min-height: 120px;
}

.container a {
  text-decoration: underline;
  color: hsl(200, 100%, 80%);
}

.container button {
  background-color: white;
  color: black;
  border-radius: 1px;
  margin: 5px 2px 5px 0px;
}

.container button:disabled {
  color: gray;
  background-color: lightgray;
}

.secondaryContent {
  height: 80%;
}

.editor {
  height: 90%;
  width: 100vw;
  background-color: hsl(0, 0%, 30%);
}
