.main {
  grid-row: 2;
  padding: 5px;
  height: 100%;
  display: grid;
  grid-template-rows: 3rem 18rem 18rem 15rem;
  overflow: auto;
}

.backButton {
  align-self: start;
  width: 4rem;
  height: 2rem;
}

.formContainer {
  display: grid;
  grid-template-rows: 2.3rem 2rem 10rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.permissionsButton {
  justify-self: center;
}

.form {
  display: grid;
  row-gap: 0.12rem;
}

.submitButton {
  width: 6rem;
}

.deleteContainer {
  justify-self: center;
  display: grid;
  grid-template-rows: 2rem 2rem 3rem 4rem 4rem;
  align-items: center;
}

.deleteContainer button {
  align-self: center;
  height: 2rem;
}

.deleteAccountHeader {
  justify-self: center;
}

.enableDelete {
  width: 8rem;
  justify-self: center;
}

.deleteAccountButton {
  justify-self: center;
}

@media (min-width: 768px) {
  .main {
    grid-column: 2;
  }
}
