.container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: 2rem 2rem 2rem 1fr;
  min-height: 20rem;
}

.buttonContainer button {
  margin: 0px 2px;
}

.linkForm {
  grid-row: 3;
  display: grid;
  grid-template-columns: 4rem 8rem 4rem;
  align-items: center;
}

.linkForm input[type="submit"] {
  justify-self: end;
}

.editor {
  background-color: var(--input-color);
  overflow: auto;
  grid-row: 4;
}

.editor a {
  color: var(--link-color);
  text-decoration: underline;
}
