.mainPost {
  display: grid;
  grid-template-rows: 1.5rem 6rem 2rem 9.2rem;
}

.contentSection {
  display: grid;
  grid-template-rows: 5rem 1rem;
}

.textarea {
  background-color: var(--input-color);
  border: none;
  resize: none;
  border-radius: 5px;
  color: white;
  font-family: Lato;
  font-size: 1rem;
}

.linkDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.linkDisplay a {
  color: hsl(200, 100%, 80%);
  text-decoration: underline;
}

.linkSection {
  display: grid;
  grid-template-rows: 2rem 9.2rem;
}

.addLinksForm {
  display: grid;
  grid-template-rows: 1.8rem 1.8rem 1.8rem 1.8rem 2rem;
  grid-template-columns: 50% 50%;
}

.addLinksForm label,
.addLinksForm input[type="text"] {
  grid-column: 1 / span 2;
}

.addLinksForm input[type="submit"] {
  grid-column: 2;
  height: 1.5rem;
  width: 5rem;
  justify-self: end;
}

.linkError {
  grid-row: 5;
  grid-column: 1;
}
