.main {
    display: grid;
    grid-template-rows: 5rem 20rem calc(100vh - 23rem);
    width: 100vw;
    justify-content: center;
}

.title {
    grid-row: 1;
    text-align: center;
}

.form {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1.3rem 2rem 1.3rem 2rem 1.3rem 2rem 1.3rem 2rem 1.3rem 2rem 2rem;
}

.input {
    margin-bottom: .5rem;
}

.createAccount {
    width: 7rem;
    justify-self: center;
    align-self: end;
    height: 1.5rem;
}

.login {
    text-align: center;
}