.newChat {
    grid-row: 1;
    justify-self: center;
    width: 100%;
    display: grid;
    height: 100%;
    overflow: auto;
    grid-template-rows: 2rem 4.1rem calc(100% - 6.1rem);
    padding: 5px;
}

.searchContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchLabel {
    visibility: hidden;
    width: 0px;
}

.searchContainer .search {
    display: block;
    width: calc(100% - 7rem);
    margin-right: 5px;
}

.createChat {
    justify-self: center;
    width: 7rem;
}

.participantContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #605D5D;
    border-radius: 5px;
    height: 4.1rem;
    overflow: auto;
    padding: 5px;
    gap: 10px;
    margin-top: 5px;
}

.participant {
    margin-right: 5px;
}

.connectionContainer{
    height: 100%;
}