.newChat {
    grid-row: 1;
    justify-self: center;
    width: 100%;
    display: grid;
    height: 100%;
    overflow: auto;
    grid-template-rows: 2rem 3rem calc(100% - 5rem);
    margin: 10px 4px 0 4px;
    padding: 5px;
}

.searchContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.searchLabel {
    visibility: hidden;
    width: 0px;
}

.searchContainer .search {
    display: block;
    width: calc(100% - 7rem);
}

.createChat {
    justify-self: center;
    width: 7rem;
    margin-right: 5px;
}

.participantContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 1rem;
    border-radius: .2rem;
}

.participantCard {
    margin: .5rem .3rem .5rem 0;
}

.participant {
    margin-right: .2rem;
}