.container {
    display: grid;
    width: 100%;
    grid-template-rows: 2rem calc(100% - 2rem);
    padding: .5rem;
}

.header {
    justify-self: center;
}

.invitationContainer {
    width: 100%;
    max-width: 20rem;
    justify-self: center;
}