.card {
    min-height: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2rem calc(100% - 6rem) 4rem;
    align-items: center;
    margin: 10px 0px;
}

.name {
    margin-left: 10px;
}