.card {
    width: 100%;
    margin: 20px 0 2rem 0;
    display: grid;
    grid-template-rows: 4rem 2rem;
    grid-template-columns: 2rem calc(100% - 7rem) 5rem;
}

.imageContainer{
    grid-row: 1;
    /* align-self: center; */
}

.name{
    grid-row: 1;
    margin-left: 10px;
    margin-top: .4rem;
    /* align-self: center; */
}

.link {
    margin-top: .4rem;
}

.responseContainer {
    grid-row: 2;
    grid-column: span 3;
    width: 100%;
}

.button {
    margin-right: 24px;
    width: 4rem;
    display: inline-block;
}