.card {
    min-height: 2rem;
    width: 100%;
    max-width: 20rem;
    margin: .5rem 0;
    padding: .5rem;
    display: grid;
    grid-template-rows: 2rem 2rem;
}

.infoContainer{
    grid-row: 1;
    display: flex;
    align-items: center;
}

.name{
    margin-left: 1rem;
}

.button {
    margin: .4rem .5rem 0 0;
    width: 4rem;
    grid-column: 1;
    display: inline-block;
}